<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yknx.android.club" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.ClubSelect"
            android:label="@string/app_name"
            android:theme="@style/ClubSelectActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.ClubsProvider"
            android:authorities="com.yknx.android.club" />

        <activity
            android:name=".activities.SaveCreate_Club"
            android:label="@string/title_activity_save_create__club"
            android:parentActivityName=".activities.ClubSelect" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yknx.android.club.activities.ClubSelect" />
        </activity>
        <activity
            android:name=".activities.ClubDetails"
            android:label="@string/title_activity_club_details">
        </activity>
        <activity
            android:name=".activities.ClubDataActivity"
            android:label="@string/title_activity_club_details">
        </activity>
    </application>

</manifest>
